@media print {
  footer * {
    display: none;
  }

  .grid {
    display: none !important;
  }

  hr {
    display: none !important;
  }

  .button {
    display: none !important;
  }

  .breadcrumb {
    display: none !important;
  }
}
